@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1a191f;
  --color-primary: #f9ab00;

  --header-height: 80px;
}

body {
  background-color: var(--bg-primary);
  color: white;
}

button,
a {
  outline: none;
}

.swiper-slide {
  @apply h-auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-dark-1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
