@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1a191f;
  --color-primary: #f9ab00;

  --header-height: 80px;
}

body {
  background-color: var(--bg-primary);
  color: white;
}

button,
a {
  outline: none;
}
